mat-card{
  padding: 1em;
  background: #FFF3E0;
}

mat-card-title{
  color:#0288D1;
  margin-bottom: 1em;
}

label.output-label{
  color: #1A237E;
}

span.output-value{
  font-weight: bolder;
  font-style: italic;
  color: #673AB7;
  margin-left: 1em;
}
